<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Conway's Game of Life</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/conway.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="center">
    <div class="world_container" style="width: 750px;">
      <h1><a href="http://en.wikipedia.org/wiki/Conway_game_of_life" target="_blank">Conway's Game of Life</a></h1>
      <table id="world">
        
      </table>
    </div>
  </body>
</html>
